beautifulsoup4
blinker
Brlapi
certifi
chardet
chrome-gnome-shell
click
colorama
command-not-found
contourpy
cryptography
cupshelpers
cycler
dbus-python
defer
distro
distro-info
entrypoints
Flask
fonttools
httplib2
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libevdev
louis
lxml
macaroonbakery
MarkupSafe
matplotlib
netifaces
numpy
oauthlib
olefile
packaging
pexpect
Pillow
protobuf
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyudev
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
simplejson
six
soupsieve
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
wadllib
waitress
Werkzeug
xkit
zipp